<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Usuarios</h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each users}}
                    <tr>
                        <td>{{id}}</td>
                        <td>{{username}}</td>
                        <td>{{email}}</td>
                        <td>{{role}}</td>
                        <td>{{status}}</td>
                        <td>
                            <a href="/users/edit/{{id}}" class="btn btn-primary">Edit</a>
                            <a href="/users/delete/{{id}}"  onclick="return confirmDelete({{username}});" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a href="/users/create" class="btn btn-success">Create User</a>
        </div>
    </div>
</div>
<script type="text/javascript">
    function confirmDelete(userName) {
        return confirm(`¿Estás seguro de que quieres eliminar al usuario ${userName}?`);
    }
</script>
