<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Usuarios</h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Usuario</th>
                        <th>Email</th>
                        <th>Rol</th>
                        <th>Estado</th>
                        <th>Roles</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each users}}
                    <tr>
                        <td>{{id}}</td>
                        <td>{{username}}</td>
                        <td>{{email}}</td>
                        <td>{{role}}</td>
                        <td>{{status}}</td>
                        <td>
                            {{#each roles}}
                                {{this}}
                            {{/each}}
                        <td>
                            {{#if (eq status "inactivo" or isnew 1) }}
                                <a href="/users/activate/{{id}}" class="btn btn-success">Activar</a>
                            {{else}}
                                <a href="/users/edit/{{id}}" class="btn btn-primary">Editar</a>
                            {{/if}}
                            <a href="/users/delete/{{id}}"  onclick="return confirmDelete({{username}});" class="btn btn-danger">Eliminar</a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    {{#if (eq users.[0].isnew 0) }}
        <div class="row">
            <div class="col-md-12">
                <a href="/users/create" class="btn btn-success">Crear nuevo usuario</a>
            </div>
        </div>
    {{/if}}
</div>
<script type="text/javascript">
    function confirmDelete(userName) {
        return confirm(`¿Estás seguro de que quieres eliminar al usuario ${userName}?`);
    }
</script>
